@charset "utf-8";
/* CSS Document */
.add_com a{ color:#666; font-size:14px; display:block; height:128px; width:128px; line-height:128px; background:url(../images/login/add.png) no-repeat left center; padding:0 0 0 40px; text-decoration:none;}
.add_com a:hover{ color:#22b6e7; background:url(../images/login/add_over.png) no-repeat left center;}
.add_com2 a{ color:#666; font-size:14px; display:block; height:35px; width:128px; line-height:35px; background:url(../images/login/add.png) no-repeat left center; padding:0 0 0 40px; text-decoration:none;}
.add_com2 a:hover{ color:#22b6e7; background:url(../images/login/add_over.png) no-repeat left center;}


.tc_nav_index{ padding:10px;font-size: 14px;width: 47%;float: left;}
.sh_title01{ line-height:36px; position:relative; overflow:hidden; height:36px; clear:both;}
.sh_title01 p{ position:absolute; background-color:#fff; left:100px;}
.sh_title01 span{ display:block; border-bottom:1px solid #eeeeee; position:absolute; width:100%; top:18px;}
.sh_title01 div{  font-weight:bold; background-color:#fff; font-size:16px; color:#333; position:absolute; z-index:1; padding-right:10px;}
.sh_title01 a{ position:absolute; right:0px; background-color:#eee; border-radius:2px; height:20px; line-height:20px; color:#666; font-size:12px; padding:0px 10px; top:5px;}
.sh_title01 a:hover{ color:#00a3cd;}
/*******/
.qysf{ border:1px solid #dddddd; height: 280px; }
.qysf_left{ background-color:#f6f6f6; width:100%; left:0px; top:0px; }
.qysf_left h2{  margin:10px 10px 10px 20px;font-size: 14px;}
.qysf_left li {list-style-type:none; line-height:34px; height:34px; border-left:5px solid transparent;  cursor:pointer; position:relative; text-indent:20px;}
.qysf_left li input{ margin-right:5px;}
.qysf_left .active{ border-left:5px solid #1a56a9;margin-left:-1px; border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; background-color:#fff;}
.qysf_right{width:100%; right:0px; top:0px; }

.qysf_right h2{  margin:10px 10px 10px 10px;font-size: 14px;}
.qysf_rnav{ padding-left:10px;padding-right:10px;height: 240px;overflow: auto;}

.qysf_rnav li{list-style-type:none; line-height:28px; background-color:#f6f6f6; border:1px solid #eee; text-indent:10px; margin-bottom:7px; cursor:pointer; font-size:12px;}
.qysf_rnav .active{ border:1px solid #1a56a9;background:url(../images/index/right_bg.png) no-repeat right bottom;}
.grsftx{
	width: 100%;
	height: 278px;
	background-color: rgb(250, 250, 253);
	border: 1px solid #dddddd;
}
.grsftx ul{
	margin: 40px 20px 48px 20px;
	width: 280px;
	height: 100px;
	padding: 30px
}
.grsftx li{
	list-style-type: none;
	border-bottom: 1px solid #efeff0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #666;
}
