<!doctype html>
<html id="ng-app" xmlns:ng="http://angularjs.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8; IE=EDGE">
<title>免税收入、减计收入、所得减免等优惠明细表</title>
</head>

<body>
<div style="width:96%; margin:auto;" id="viewCtrlId" ng-controller="viewCtrl">
<div class="NewTableHead">     
    <h1>免税收入、减计收入、所得减免等优惠明细表</h1>
     
</div>

<div class="NewTableMain" ng-jprefix="ht.qysdsczzsyjdSbbdxxVO.A201010Ywbd.msjjsrjjkcjmyhmxbForm">


   <table width="100%" border="0" cellpadding="0" cellspacing="1">
 
     <tr>
       <td width="10%" align="center" class="title01"><strong>行次</strong></td>
       <td  align="center" colspan="2" class="title01"><strong>项          目</strong></td>
       <td width="25%" align="center" class="title01"><strong>本年累计金额</strong></td>
     </tr>
     <tr>
       <td align="center" class="title01">1</td>
       <td colspan="2" class="title01">一、免税收入（2+3+6+7+…+15）</td>
       <td class="read right" ><input ng-model="msjjsrjjkcjmyhmxbForm.mssrLj" ng-datatype="number"   type="text"  readonly></td>
     </tr>
     <tr>
       <td align="center" class="title01">2</td>
       <td colspan="2" class="title01" style="padding-left:24px">（一）国债利息收入免征企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.gzlxsrLj" ng-datatype="number"   type="text"  ></td>
     </tr>
     <tr>
       <td align="center" class="title01">3</td>
       <td colspan="2" class="title01" style="padding-left:24px">（二）符合条件的居民企业之间的股息、红利等权益性投资收益免征企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.fhtjdjmqyzjdgxhldqyxsyLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">4</td>
       <td colspan="2" class="title01" style="padding-left:64px">其中：内地居民企业通过沪港通投资且连续持有H股满12个月取得的股息红利所得免征企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.hgttzgxhlLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">5</td>
       <td colspan="2" class="title01" style="padding-left:100px">内地居民企业通过深港通投资且连续持有H股满12个月取得的股息红利所得免征企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.sgttzgxhlLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">6</td>
       <td colspan="2" class="title01" style="padding-left:24px">（三）符合条件的非营利组织的收入免征企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.fhtjdfylzzdsrLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">7</td>
       <td colspan="2" class="title01" style="padding-left:24px">（四）符合条件的非营利组织（科技企业孵化器）的收入免征企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.fhtjdfylzzkjqyfhqLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">8</td>
       <td colspan="2" class="title01" style="padding-left:24px">（五）符合条件的非营利组织（国家大学科技园）的收入免征企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.fhtjdfylzzgjdxkjyqLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">9</td>
       <td colspan="2" class="title01" style="padding-left:24px">（六）中国清洁发展机制基金取得的收入免征企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.zgqjfzjzjjqddsrLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">10</td>
       <td colspan="2" class="title01" style="padding-left:24px">（七）投资者从证券投资基金分配中取得的收入免征企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.zqtzjjtzzqddmssrLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">11</td>
       <td colspan="2" class="title01" style="padding-left:24px">（八）取得的地方政府债券利息收入免征企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.dfzfzqlxsrLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">12</td>
       <td colspan="2" class="title01" style="padding-left:24px">（九）中国保险保障基金有限责任公司取得的保险保障基金等收入免征企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.zgbxbzjjyxzrgsqdbxbzjjsrLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">13</td>
       <td colspan="2" class="title01" style="padding-left:24px">（十）中国奥委会取得北京冬奥组委支付的收入免征企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.zgawhqdbjdazwsfsrLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">14</td>
       <td colspan="2" class="title01" style="padding-left:24px">（十一）中国残奥委会取得北京冬奥组委分期支付的收入免征企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.zgcawhqdbjdazwfqzfsrLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">15</td>
       <td colspan="2" class="title01" style="padding-left:24px">（十二）其他</td>       
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.qtmssrLj"  ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">16</td>
       <td  colspan="2" class="title01">二、减计收入（17+18+22+23）</td>
       <td class="read right" ><input ng-model="msjjsrjjkcjmyhmxbForm.jjsrLj" ng-datatype="number"   type="text" readonly ></td>
      </tr>
     <tr>
       <td align="center" class="title01">17</td>
       <td colspan="2" class="title01"  style="padding-left:24px">（一）综合利用资源生产产品取得的收入在计算应纳税所得额时减计收入</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.zhlyzysccpqddsrLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">18</td>
       <td colspan="2" class="title01" style="padding-left:24px">（二）金融、保险等机构取得的涉农利息、保费减计收入（19+20+21）</td>
       <td class="read right" ><input ng-model="msjjsrjjkcjmyhmxbForm.jrbxdjgqddsllxbfsrLj" ng-datatype="number"   type="text"  readonly></td>
      </tr>
     <tr>
       <td align="center" class="title01">19</td>
       <td colspan="2" class="title01" style="padding-left:38px">1.金融机构取得的涉农贷款利息收入在计算应纳税所得额时减计收入</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.jrjgqdsndklxsrLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">20</td>
       <td colspan="2" class="title01" style="padding-left:38px">2.保险机构取得的涉农保费收入在计算应纳税所得额时减计收入</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.bxjgqdsnbfsrLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">21</td>
       <td colspan="2" class="title01" style="padding-left:38px">3.小额贷款公司取得的农户小额贷款利息收入在计算应纳税所得额时减计收入</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.xedkgsqdnhxedklxsrLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">22</td>
       <td colspan="2" class="title01" style="padding-left:24px">（三）取得铁路债券利息收入减半征收企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.qddzgtljszqlxsrLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">23</td>
       <td colspan="2" class="title01" style="padding-left:24px">（四）其他</td>      
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.qtjjsrLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">24</td>
       <td colspan="2" class="title01">三、加计扣除（25+26+27+28）</td>
        <td class="read right" ><input ng-model="msjjsrjjkcjmyhmxbForm.jjkcLj" type="text"   readonly  ng-datatype="number" ></td>
      </tr>
     <tr>
       <td align="center" class="title01">25</td>
       <td colspan="2" class="title01" style="padding-left:24px">（一）开发新技术、新产品、新工艺发生的研究开发费用加计扣除</td>
       <td class="read right" ><input ng-model="msjjsrjjkcjmyhmxbForm.xcpxgyxjsyffyjjkcLj" type="text"   readonly  ng-datatype="number" ></td>
      </tr>
     <tr>
       <td align="center" class="title01">26</td>
       <td colspan="2" class="title01" style="padding-left:24px">（二）科技型中小企业开发新技术、新产品、新工艺发生的研究开发费用加计扣除</td>
        <td class="read right" ><input ng-model="msjjsrjjkcjmyhmxbForm.kjxzxqykfxjsyjkffyLj" type="text"   readonly  ng-datatype="number" ></td>
      </tr>
     <tr>
       <td align="center" class="title01">27</td>
       <td colspan="2" class="title01" style="padding-left:24px">（三）企业为获得创新性、创意性、突破性的产品进行创意设计活动而发生的相关费用加计扣除</td>
        <td class="read right" ><input ng-model="msjjsrjjkcjmyhmxbForm.qywhdcxxcpjxcysjhdfsdxgfyLj" type="text"   readonly  ng-datatype="number" ></td>
      </tr>
     <tr>
       <td align="center" class="title01">28</td>
       <td colspan="2" class="title01" style="padding-left:24px">（四）安置残疾人员所支付的工资加计扣除</td>
       <td class="read right" ><input ng-model="msjjsrjjkcjmyhmxbForm.azcjryzfgzLj" type="text"   readonly  ng-datatype="number" ></td>
      </tr>
     <tr>
       <td align="center" class="title01">29</td>
       <td colspan="2" class="title01">四、所得减免（30+33+34+35+36+37+38+39+40）</td>
       <td class="read right" ><input ng-model="msjjsrjjkcjmyhmxbForm.sdjmLj" ng-datatype="number"   type="text"  readonly></td>
      </tr>
     <tr>
       <td align="center" class="title01">30</td>
       <td colspan="2" class="title01" style="padding-left:24px">（一）从事农、林、牧、渔业项目的所得减免征收企业所得税（31+32）</td>
       <td class="read right" ><input ng-model="msjjsrjjkcjmyhmxbForm.nlmyxmLj" ng-datatype="number"   type="text" readonly ></td>
      </tr>
     <tr>
       <td align="center" class="title01">31</td>
       <td colspan="2" class="title01" style="padding-left:38px">1.免税项目</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.msxmLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">32</td>
       <td colspan="2" class="title01" style="padding-left:38px">2.减半征收项目</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.jbzsxmLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">33</td>
       <td colspan="2" class="title01" style="padding-left:24px">（二）从事国家重点扶持的公共基础设施项目投资经营的所得定期减免企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.gjzdfcdggjcssxmLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">34</td>
       <td colspan="2" class="title01" style="padding-left:24px">（三）从事符合条件的环境保护、节能节水项目的所得定期减免企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.fhtjdhjbhjnjsxmLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">35</td>
       <td colspan="2" class="title01" style="padding-left:24px">（四）符合条件的技术转让所得减免征收企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.fhtjdjszrxmLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">36</td>
       <td colspan="2" class="title01" style="padding-left:24px">（五）实施清洁发展机制项目的所得定期减免企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.ssqjfzjzxmLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">37</td>
       <td colspan="2" class="title01" style="padding-left:24px">（六）符合条件的节能服务公司实施合同能源管理项目的所得定期减免企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.jnfwgssshtnyglxmLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">38</td>
       <td colspan="2" class="title01" style="padding-left:24px">（七）线宽小于130纳米的集成电路生产项目的所得减免企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.xkxyybsnmjcdlscxmLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">39</td>
       <td colspan="2" class="title01" style="padding-left:24px">（八）线宽小于65纳米或投资额超过150亿元的集成电路生产项目的所得减免企业所得税</td>
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.xkxylswnmhtzecgybwyyxmLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">40</td>
       <td colspan="2" class="title01" style="padding-left:24px">（九）其他</td>       
       <td class="edit right" ><input ng-model="msjjsrjjkcjmyhmxbForm.qtsdjmLj" ng-datatype="number"   type="text"  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">41</td>
       <td colspan="2" class="title01">合计（1+16+24+29）</td>
       <td class="read right" ><input ng-model="msjjsrjjkcjmyhmxbForm.hjLj" ng-datatype="number"   type="text" readonly ></td>
      </tr>
      <tr ng-render-finish="">
   </table>
</div>


</div>
</body>
</html>
