<!doctype html>
<html id="ng-app" xmlns:ng="http://angularjs.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8; IE=EDGE">
<title>减免所得税优惠明细表</title>
<script>
	var subViewCustomScripts = ["/sbzs_res/qysds_a_18yjd/js/a201030.js" ];	
</script>
</head>

<body>
<div style="width:96%; margin:auto;" id="viewCtrlId" ng-controller="viewCtrl">
<div class="NewTableHead" >     
    <h1>减免所得税优惠明细表</h1>
     
</div>

<div class="NewTableMain" >
   <table width="100%" border="0" cellpadding="0" cellspacing="1" ng-jprefix="ht.qysdsczzsyjdSbbdxxVO.A201030Ywbd.jmsdsyhMxbForm">
 
     <tr>
       <td width="10%" align="center" class="title01"><strong>行次</strong></td>
       <td   align="center" class="title01"><strong>项          目</strong></td>
       <td width="25%" align="center" class="title01"><strong>本年累计金额</strong></td>
     </tr>
     <tr>
       <td align="center" class="title01">1</td>
       <td  class="title01">一、符合条件的小型微利企业减免企业所得税</td>
       <td class="read right" ><input ng-blur="externalMethods('change1Row','');" ng-model="jmsdsyhMxbForm.fhtjdxxwlqyjmqysdsLj" ng-datatype="number"   type="text" readonly  ></td>
     </tr>
     <tr>
       <td align="center" class="title01">2</td>
       <td  class="title01" >二、国家需要重点扶持的高新技术企业减按15%的税率征收企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.zdfcgxjsqyjmLj" ng-datatype="number"   type="text" readonly  ></td>
     </tr>
     <tr>
       <td align="center" class="title01">3</td>
       <td  class="title01" >三、经济特区和上海浦东新区新设立的高新技术企业在区内取得的所得定期减免企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.jjtqpdxqxslgxjsqyjmLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">4</td>
       <td  class="title01">四、受灾地区农村信用社免征企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.szdqncxysLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">5</td>
       <td  class="title01">五、动漫企业自主开发、生产动漫产品定期减免企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.dmqyzzkfLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">6</td>
       <td  class="title01" >六、线宽小于0.8微米（含）的集成电路生产企业减免企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.bwmjcdlLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">7</td>
       <td  class="title01" >七、线宽小于0.25微米的集成电路生产企业减按15%税率征收企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.ewwmjcdljaswslLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">8</td>
       <td  class="title01" >八、投资额超过80亿元的集成电路生产企业减按15%税率征收企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.bsyyjcdljaswslLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">9</td>
       <td  class="title01" >九、线宽小于0.25微米的集成电路生产企业减免企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.ewwmjcdlLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">10</td>
       <td  class="title01" >十、投资额超过80亿元的集成电路生产企业减免企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.bsyyjcdlLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">11</td>
       <td  class="title01">十一、线宽小于130纳米的集成电路生产企业减免企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.xkxyybsnmdjcdlscqyjmLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">12</td>
       <td  class="title01">十二、线宽小于65纳米或投资额超过150亿元的集成电路生产企业减免企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.xkxylwnmhtzecgywlyLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">13</td>
       <td  class="title01">十三、新办集成电路设计企业减免企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.xbjcdlsjqyLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">14</td>
       <td  class="title01">十四、国家规划布局内集成电路设计企业可减按10%的税率征收企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.gjghbjjcdljasslLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">15</td>
       <td  class="title01">十五、符合条件的软件企业减免企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.fhtjrjqyLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">16</td>
       <td  class="title01">十六、国家规划布局内重点软件企业可减按10%的税率征收企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.gjghbjnzdrjqyjasslLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">17</td>
       <td  class="title01">十七、符合条件的集成电路封装、测试企业定期减免企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.fhtjjcdlfzcsqyLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">18</td>
       <td  class="title01">十八、符合条件的集成电路关键专用材料生产企业、集成电路专用设备生产企业定期减免企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.fhtjjcdlzyclscqyLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">19</td>
       <td  class="title01">十九、经营性文化事业单位转制为企业的免征企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.jyxwhsydwLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">20</td>
       <td  class="title01">二十、符合条件的生产和装配伤残人员专门用品企业免征企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.fhtjsczpscryypLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">21</td>
       <td  class="title01">二十一、技术先进型服务企业减按15%的税率征收企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.jsxjxfwqyjaswslLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">22</td>
       <td  class="title01">二十二、服务贸易类技术先进型服务企业减按15%的税率征收企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.fwmycxfzsdjsxjxfwqyLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">23</td>
       <td  class="title01">二十三、设在西部地区的鼓励类产业企业减按15%的税率征收企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.xbdqgllqyjaswLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">24</td>
       <td  class="title01">二十四、新疆困难地区新办企业定期减免企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.xjkndqxbqyLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">25</td>
       <td  class="title01">二十五、新疆喀什、霍尔果斯特殊经济开发区新办企业定期免征企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.xjkstsjjkfqxbqyLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">26</td>
       <td  class="title01">二十六、广东横琴、福建平潭、深圳前海等地区的鼓励类产业企业减按15%税率征收企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.hqptqhgllqyLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">27</td>
       <td  class="title01">二十七、北京冬奥组委、北京冬奥会测试赛赛事组委会免征企业所得税</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.bjdazwsszwhLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">28</td>
       <td  class="title01">二十八、其他</td>       
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.qt" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">29</td>
       <td  class="title01">二十九、民族自治地方的自治机关对本民族自治地方的企业应缴纳的企业所得税中属于地方分享的部分减征或免征（&nbsp;<input type="radio" name="jmzlx"  ng-model="jmsdsyhMxbForm.jzmzlx" value="2" style="vertical-align:middle; margin-top:-2px; margin-bottom:1px;">&nbsp;&nbsp;免征&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="jmzlx" type="radio" ng-model="jmsdsyhMxbForm.jzmzlx" value="1"  style="vertical-align:middle; margin-top:-2px; margin-bottom:1px;">&nbsp;&nbsp;减征:减征幅度<input  type="text"  class="read topInput" style="width:10%;text-align:right;" ng-datatype="percent{2}" readonly ng-model="jmsdsyhMxbForm.jzfd"   />   ）</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.mzzzdfqydffxbfLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
     <tr>
       <td align="center" class="title01">30</td>
       <td  class="title01" >合计(1+2+3+4+5+6+…+29)</td>
       <td class="read right" ><input ng-model="jmsdsyhMxbForm.hjLj" ng-datatype="number"   type="text" readonly  ></td>
      </tr>
      <tr ng-render-finish=""></tr>
   </table>
</div>
  
</div>
</body>
</html>
