<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8; IE=EDGE">
<title>09$成品油购销存数量明细表</title>
</head>

<body>
<div style="width:96%; margin:auto;"id="viewCtrlId" ng-controller="viewCtrl" >
<ng-codetable url="dm_sb_cpycpzl.json" name="cpzlCT" node="" dm="root.dm" mc="root.mc"></ng-codetable>
<div class="NewTableHead" ng-jprefix="qcs.initData.zzsybnsrsbInitData">
     <h1>成品油购销存数量明细表</h1>
    <li class="dateTxt">税款所属时间:<input type="text"  readonly style="width:100px; " ng-model="zzsybnsrsbInitData.sssq.rqQ" class="topInput"> 至 <input type="text"   readonly style="width:100px; " ng-model="zzsybnsrsbInitData.sssq.rqZ" class="topInput"></li>
</div>


<div class="NewTableTop" ng-jprefix="zzsybsbSbbdxxVO.zzssyyybnsr_cpygxcslmxb.sbbHead" >
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>纳税人名称： 
    <span class="textline" ng-bind="sbbHead.nsrmc"></span></td>
    
     </td>
    <td align="right">纳税人识别号：
    <span class="topInput" ng-bind="sbbHead.nsrsbh"></span> 
     </td>
  </tr>
  <tr>
    <td ng-jprefix="zzsybsbSbbdxxVO.zzssyyybnsr_cpygxcslmxb.sbbHead" >填表日期： 
    <span class="topInput" ng-bind="sbbHead.tbrq"></span> 
    
     </td>
    <td align="right">&nbsp;</td>
  </tr>
</table>
</div>


<div class="NewTableMain"  ng-jprefix="zzsybsbSbbdxxVO.zzssyyybnsr_cpygxcslmxb.cpygxcslmxbGrid.cpygxcslmxbGridlbVO">

 <table width="100%" border="0" cellpadding="0" cellspacing="1" class="cpygxcslmxb">
	<colgroup class="c1"></colgroup>
	<colgroup class="c2"></colgroup>
	<colgroup class="c3"></colgroup>
	<colgroup class="c4"></colgroup>
	<colgroup class="c5"></colgroup>
	<colgroup class="c6"></colgroup>
  <tbody><tr>
    <td rowspan="2" align="center" class="title01"   style="width:16%"><strong>油量型号</strong></td>
    <td rowspan="2" align="center" class="title01"><strong>期初库存量</strong></td>
    <td rowspan="2" align="center" class="title01"><strong>本期购进量</strong></td>
    <td colspan="2" align="center" class="title01"><strong>本期出库量</strong></td>
    <td rowspan="2" align="center" class="title01"><strong>期末库存量</strong></td>
      <td colspan="2" rowspan="2"  class="title01"  style="width:15%"></td> 
  </tr>
  <tr>
    <td align="center" class="title01">应税销售量</td>
    <td align="center" class="title01">应扣除数量</td>
    </tr>
  <tr>
    <td align="center" class="title01">- - - - - -</td>
    <td align="center" class="title01">1</td>
    <td align="center" class="title01">2</td>
    <td align="center" class="title01">3</td>
    <td align="center" class="title01">4</td>
    <td align="center" class="title01">5=1+2-3-4</td>
    <td align="center" class="title01">操作</td>
  </tr>
  <tr ng-repeat="p in cpygxcslmxbGridlbVO track by $index" ng-repeat-init="cpygxcslmxbGridlbVO"
        default-value='{"ewbhxh":"","ylxh":"","qckcl":0.00,"bqgjl":0.00,"bqcklYsxsl":0.00,"bqcklYkcsl":0.00,"qmkcl":0.00}'>
    <td class="edit left" >
     <select name="select" id="select"  ng-model="p.ylxh" ng-options="key as key+'|'+value for (key,value) in CT.cpzlCT">
            <option value=""></option>
        </select>
   </td>
     <td align="center" class="title01" ng-bind="p.ewbhxh=$index+1" style="display:none"></td>        
    <td class="edit right"><input type="text" ng-datatype="number"  ng-model="p.qckcl"></td>
    <td class="edit right"><input type="text" ng-datatype="number"  ng-model="p.bqgjl"></td>
    <td class="edit right"><input type="text" ng-datatype="number"  ng-model="p.bqcklYsxsl"></td>
    <td class="edit right"><input type="text" ng-datatype="number"  ng-model="p.bqcklYkcsl"></td>
    <td class="read right"><input type="text" ng-datatype="number"  readonly ng-model="p.qmkcl"></td>
     <td  align="center" >
    <div class="sbtnbox"> 
    <a  class="layui-btn layui-btn-xs"  ng-href="#"  ng-click="add()">增加</a>&nbsp;&nbsp;&nbsp;<a class="layui-btn layui-btn-danger layui-btn-xs" ng-if="$index!=0"   ng-href="#"  ng-click="del($index)">删除</a></div></td> 
  </tr>
  <tr ng-render-finish=""></tr>
  </tbody></table>
</div>

 


</div>
</body>
</html>
