<!doctype html>
<html id="ng-app"  xmlns:ng="http://angularjs.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8; IE=EDGE">
<title>35$增值税减免税申报明细表</title>
<script type="text/javascript">
/**
 * 根据方法名执行对应方法
 * @param mathFlag
 * @param data
 * @param scope
 */
function extMethods(mathFlag,newData,olddata,scope){
	if ("tipsJmba"==mathFlag){
		if(newData==null || newData=="" || newData==undefined){
			return ;
		}
		var msjmxzArr = newData.split("_");
		var msjmxz = "";
		if(msjmxzArr!=null && msjmxzArr.length>1 && "MS"==msjmxzArr[0]){
			msjmxz = msjmxzArr[1];
		}
		if("0001041501"==msjmxz || "0001064021"==msjmxz || "0001041502"==msjmxz || "0001041503"==msjmxz || "0001041504"==msjmxz || "0001041505"==msjmxz || "0001083917" == msjmxz){
			//提示减免备案，选择的免税减免信息是否有减免信息，没有备案信息则提示，并且免税减免性质代码是0001041501、0001041502、0001041503、0001041504、0001041505、0001083917
			var isBa = false;
			var jmbaxxGrid = parent.formData.qcs.initData.jmbaxxGrid;
			if(jmbaxxGrid!=null && jmbaxxGrid!=undefined && jmbaxxGrid.jmbaxxGridlb!=null && jmbaxxGrid.jmbaxxGridlb!=undefined && jmbaxxGrid.jmbaxxGridlb.length>0){
				var jmbaxxGridlb = jmbaxxGrid.jmbaxxGridlb;
				for(var i=0;i<jmbaxxGridlb.length;i++){
					var ssjmxzhzDm = jmbaxxGridlb[i].ssjmxzhzDm;
					if(ssjmxzhzDm==msjmxz){
						//有备案信息
						isBa = true;
						break ;
					}
				}
			}
			if(!isBa){
				tipsContent = '<div class="win-center">'
			        + '<div class="layui-text">'
			        + '<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所选择的税收减免性质没有进行税收减免备案。</p></div>'
			        + '<div class="win-btn" style="text-align:right;">'
			        + '<a class="layui-btn layui-btn" id="closeJmbaTips">确定</a>'
			        + '</div>'
			        + '</div>';
				var jmbaTips = parent.layer.open({
					type : 1,
			        area: ['380px', '200px'],
			        title: "提示",
			        closeBtn: false,
			        content: tipsContent
			    });
				
				//关闭按钮回调函数
				parent.$("#closeJmbaTips").click(function () {
				    parent.layer.close(jmbaTips);
				});
			}
		}
		//对于选择免税性质代码及名称减免性质为0001041502、0001041504、0001041505新增提示信息
		var content = "";
		if("0001041502"==msjmxz){
			content = "此代码适用的情形是：《财政部 税务总局关于支持小微企业融资有关税收政策的通知》（财税〔2017〕77号）规定的金融机构向农户发放100万元以下贷款免征增值税。";
		}else if("0001041504"==msjmxz){
			content = "此代码适用的情形是：《财政部 税务总局关于金融机构小微企业贷款利息收入免征增值税政策的通知》（财税〔2018〕91号）规定的金融机构向小微企业、个体工商户发放1000万元以下贷款免征增值税。";
		}else if("0001041505"==msjmxz){
			content = "此代码适用的情形是：《财政部 税务总局关于支持小微企业融资有关税收政策的通知》（财税〔2017〕77号）规定的金融机构向小微企业、个体工商户发放100万元以下贷款免征增值税。";
		}
		var tipsContent = '<div class="win-center">'
        + '<div class="layui-text">'
        + '<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+content+'</p></div>'
        + '<div class="win-btn" style="text-align:right;">'
        + '<a class="layui-btn layui-btn" id="closeJmxxTips">确定</a>'
        + '</div>'
        + '</div>';
		if(content!=""){
			var jmxxTips = parent.layer.open({
				type : 1,
		        area: ['380px', '250px'],
		        title: "提示",
		        closeBtn: false,
		        content: tipsContent
		    });
			
			//关闭按钮回调函数
			parent.$("#closeJmxxTips").click(function () {
			    parent.layer.close(jmxxTips);
			});
		}
	}
}
</script>
</head>

<body>
<div style="width:96%; margin:auto;"  id="viewCtrlId" ng-controller="viewCtrl">
<ng-codetable model="qcs.initData.zzsybnsrsbInitData.jmxxs" name="qcsjsxzdmCT" node="" dm="id" mc="" filter="jmzlx#01"></ng-codetable>
<ng-codetable model="qcs.initData.zzsybnsrsbInitData.jmxxs" name="qcsmsxzdmCT" node="" dm="id" mc="" filter="jmzlx#02"></ng-codetable>
<ng-codetable url="nf_dm_sb_zzs_jsxzdm.json" name="jsxzdmCT" node="" dm="root.dm" mc="root.mc" contact="qcsjsxzdmCT"></ng-codetable>
<ng-codetable url="nf_dm_sb_zzs_msxzdm.json" name="msxzdmCT" node="" dm="" mc="" contact="qcsmsxzdmCT"></ng-codetable>
<ng-codetable url="dm_zzs_sysl.json" name="syslCT" node="" dm="root.dm" mc="root.mc"></ng-codetable>
<div class="NewTableHead"   ng-jprefix="qcs.initData.zzsybnsrsbInitData">
     <h1>增值税减免税申报明细表</h1>
 
    <li class="dateTxt">税款所属时间:<input name="textfield3" type="text" class="topInput" id="textfield3" value=" "   ng-model="zzsybnsrsbInitData.sssq.rqQ"   readonly> 至<input name="textfield3" type="text" class="topInput" id="textfield3" value=" "   ng-model="zzsybnsrsbInitData.sssq.rqZ" readonly>  </li>
</div>

<div class="NewTableTop"  ng-jprefix="qcs.initData.nsrjbxx">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>纳税人名称（公章）：
     <span class="textline" ng-bind="nsrjbxx.nsrmc"></span></td>
    <td align="right">金额单位：元至角分</td>
    </tr>
</table>
</div>

<div class="NewTableMain">
<div ng-jprefix="zzsybsbSbbdxxVO.zzsjmssbmxb.zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO">
  <table width="100%" border="0" cellpadding="0" cellspacing="1" >
 
    <tr>
      <td colspan="8" align="center" class="title01 title02"><strong>一、减税项目</strong></td>
      </tr>
    <tr align="center">
      <td   width="25%" rowspan="2" align="center" class="title01 title02">减税性质代码及名称</td>
      <td  rowspan="2" align="center" class="title01 title02">栏次</td>
      <td   width="10%"   align="center" class="title01 title02">期初余额</td>
      <td width="10%"  align="center" class="title01 title02">本期发生额</td>
      <td width="10%"  align="center" class="title01 title02">本期应抵减税额</td>
      <td  width="15%"  align="center" class="title01 title02">本期实际抵减税额</td>
      <td  width="15%"  align="center" class="title01 title02">期末余额</td>
      <td  rowspan="2" width="110" align="center" class="title01 title02">操作</td>
      </tr>
    <tr>
      <td align="center" class="title01 title02">1</td>
      <td align="center" class="title01 title02">2</td>
      <td align="center" class="title01 title02">3=1+2</td>
      <td align="center" class="title01 title02">4≤3</td>
      <td  align="center" class="title01 title02">5=3-4</td>
      </tr>
    <tr ng-jprefix="zzsybsbSbbdxxVO.zzsjmssbmxb.zzsjmssbmxbjsxmGrid">
      <td align="center" class="title01">合计</td>
      <!-- <td align="center" class="title01"></td> -->
      <td align="center" class="title01" ng-bind="1"></td>
      <td class="read right"> <input  ng-datatype="number"   ng-model="zzsjmssbmxbjsxmGrid.qcyeHj"    type="text"    readonly></td>
      <td class="read right"> <input  ng-datatype="number"   ng-model="zzsjmssbmxbjsxmGrid.bqfseHj"    type="text"    readonly></td>
      <td class="read right"> <input  ng-datatype="number"   ng-model="zzsjmssbmxbjsxmGrid.bqydjseHj"    type="text"    readonly></td>
      <td class="read right"> <input  ng-datatype="number"   ng-model="zzsjmssbmxbjsxmGrid.bqsjdjseHj"    type="text"    readonly></td>
      <td class="read right"> <input  ng-datatype="number"   ng-model="zzsjmssbmxbjsxmGrid.qmyeHj"    type="text"    readonly></td>
      <td class="read right"></td>  
    </tr>
      
       <tr ng-repeat="p in zzsjmssbmxbjsxmGridlbVO track by $index" ng-repeat-init="zzsjmssbmxbjsxmGridlbVO"
        default-value='{"ewbhxh":"","hmc1":"","hmc":"","swsxDm":"","qcye":0.00,"bqfse":0.00,"bqydjse":0.00,"bqsjdjse":0.00,"qmye":0.00,"jmsdcsh_zjjd":"Y"}'
        >
      <td ><select ng-select-query class="form-control" placeholder=""   ng-model="p.hmc1" ng-options="key as value.msxzMc for (key,value) in CT.jsxzdmCT"><option value=""></option></select>
      		<input type="hidden" ng-model="p.hmc"  ng-value="p.hmc = p.hmc1==''||p.hmc1==null?'':CT.jsxzdmCT[p.hmc1].msxzDm"></input>
      	<input type="hidden" ng-model="p.swsxDm"  ng-value="p.swsxDm = p.hmc1==''||p.hmc1==null?'':CT.jsxzdmCT[p.hmc1].swsxDm"></input>
      </td>
      <td align="center" class="title01" ng-bind="p.ewbhxh=$index+2"></td>
      <td class="edit right"><input  ng-datatype="number"   ng-model="p.qcye"  type="text" ></td>
      <td class="edit right"><input  ng-datatype="number"   ng-model="p.bqfse"    type="text"   ></td>
      <td class="read right"><input  ng-datatype="number"   ng-model="p.bqydjse"    type="text"   readonly></td>
      <td class="edit right"><input  ng-datatype="number"   ng-model="p.bqsjdjse"    type="text"   ></td>
      <td  class="read right"><input  ng-datatype="number"   ng-model="p.qmye"    type="text"   readonly></td>
      <td   align="center" >
    
    <div class="sbtnbox"> 
    
    <a  class="layui-btn layui-btn-xs"  ng-href="#"  ng-click="add()">增加</a>&nbsp;&nbsp;&nbsp;<a class="layui-btn layui-btn-danger layui-btn-xs" ng-if="$index!=0"   ng-href="#"  ng-click="del($index)">删除</a></div></td>
       </tr>
      
  
      </table>
</div>
<div ng-jprefix="zzsybsbSbbdxxVO.zzsjmssbmxb.zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO">
      <table width="100%" border="0" cellpadding="0" cellspacing="1"  >
    <tr align="center">
      <td colspan="10" class="title01"><strong>二、免税项目</strong></td>
    </tr>
    <tr>
      <td width="25%"  rowspan="2" align="center" class="title01 title02">免税性质代码及名称</td>
      <td  rowspan="2" align="center" class="title01 title02">栏次</td>
      <td width="10%" align="center" class="title01 title02">免征增值税项目<br>
        销售额</td>
      <td width="10%" align="center" class="title01 title02">免税销售额扣除项目<br>
        本期实际扣除金额</td>
      <td width="10%" align="center" class="title01 title02">扣除后免税销售额</td>
      <td width="10%" align="center" class="title01 title02">免税销售额<br>
        对应的进项税额</td>
      <td width="10%"  rowspan="2" align="center" class="title01 title02">适用税率</td>
      <td width="10%"  align="center" class="title01 title02">免税额</td>
      <td width="110" rowspan="2"  align="center" class="title01 title02">操作</td>
        </tr>
     
    <tr>
      <td align="center" class="title01 title02">1</td>
      <td align="center" class="title01 title02">2</td>
      <td align="center" class="title01 title02">3=1-2</td>
      <td align="center" class="title01 title02">4</td>
      <td width="10%" align="center" class="title01 title02">5</td>
      </tr>
    <tr ng-jprefix="zzsybsbSbbdxxVO.zzsjmssbmxb.zzsjmssbmxbmsxmGrid">
      <td align="center" class="title01">合计</td>
      <!-- <td align="center" class="title01"></td> -->
      <td align="center" class="title01" ng-bind="1"></td>
      <td class="read right">
        <input  ng-datatype="number"    ng-model="zzsjmssbmxbmsxmGrid.mzzzsxmxseZhj"     type="text"    readonly>
      </td>
      <td class="read right">
        <input  ng-datatype="number"   ng-model="zzsjmssbmxbmsxmGrid.bqsjkcjeHj"    type="text"    readonly>
      </td>
      <td class="read right">
        <input  ng-datatype="number"   ng-model="zzsjmssbmxbmsxmGrid.kchmsxseHj"    type="text"    readonly>
      </td>
      <td class="read right">
        <input  ng-datatype="number"   ng-model="zzsjmssbmxbmsxmGrid.msxsedyjxseHj"    type="text"    readonly>
      </td>
      <td width="10%" class="read mid" align="center" >--</td>
      <td class="read right"><input  ng-datatype="number"   ng-model="zzsjmssbmxbmsxmGrid.mseHj"    type="text"    readonly></td>
      <td class="read right"></td>
    </tr>
      <tr ng-jprefix="zzsybsbSbbdxxVO.zzsjmssbmxb.zzsjmssbmxbmsxmGrid">
      <td  class="title01">出口免税</td>
      <!-- <td align="center" class="title01"></td> -->
      <td align="center" class="title01" ng-bind="2"></td>
      <td class="edit right"><input  ng-datatype="number"    ng-model="zzsjmssbmxbmsxmGrid.ckmzzzsxmxse"     type="text"></td>
      <td class="read mid" align="center" >--</td>
      <td class="read mid" align="center" >--</td>
      <td class="read mid" align="center" >--</td>
      <td width="10%" class="read mid" align="center" >--</td>
      <td width="10%" class="read mid" align="center" >--</td>
      <td class="read right"></td>
      </tr>
    <tr ng-jprefix="zzsybsbSbbdxxVO.zzsjmssbmxb.zzsjmssbmxbmsxmGrid">
      <td  class="title01">            其中：跨境服务</td>
      <!-- <td align="center" class="title01"></td> -->
      <td align="center" class="title01" ng-bind="3"></td>
      <td class="edit right"><input  ng-datatype="number"   ng-model="zzsjmssbmxbmsxmGrid.kjmzzzsxmxse"    type="text"   ></td>
      <td class="read mid" align="center" >--</td>
      <td class="read mid" align="center" >--</td>
      <td class="read mid" align="center" >--</td>
      <td width="10%" class="read mid" align="center" >--</td>
      <td width="10%" class="read mid" align="center" >--</td>
      <td class="read right"></td>
      </tr>
   <tr  ng-repeat="p in zzsjmssbmxbmsxmGridlbVO track by $index"  ng-repeat-init="zzsjmssbmxbmsxmGridlbVO"
         default-value='{"ewbhxh":"","hmc1":"","hmc":"","swsxDm":"","mzzzsxmxse":0.00,"bqsjkcje":0.00,"kchmsxse":0.00,"msxsedyjxse":0.00,"mse":0.00,"sysl":0}'>
     <td ><select ng-select-query class="form-control" placeholder=""  ng-model="p.hmc1" ng-options="key as value.msxzMc for (key,value) in CT.msxzdmCT" ng-change="externalMethods('tipsJmba',p.hmc1)"><option value=""></option></select>
      		<input type="hidden" ng-model="p.hmc"  ng-value="p.hmc = p.hmc1==''||p.hmc1==null?'':CT.msxzdmCT[p.hmc1]?CT.msxzdmCT[p.hmc1].msxzDm:''"></input>
      	<input type="hidden" ng-model="p.swsxDm"  ng-value="p.swsxDm = p.hmc1==''||p.hmc1==null?'':CT.msxzdmCT[p.hmc1]?CT.msxzdmCT[p.hmc1].swsxDm:''"></input>
      </td>
     <td align="center" class="title01" ng-bind="p.ewbhxh=$index+4"></td>
     <td class="edit right"  ><input type="text" ng-datatype="number"   ng-model="p.mzzzsxmxse"></td>
     <td class="edit right"  ><input type="text" ng-datatype="number"   ng-model="p.bqsjkcje"></td>
     <td class="read right" ><input readonly type="text" ng-datatype="number"   ng-model="p.kchmsxse"></td>
     <td class="edit right"  ><input type="text" ng-datatype="number"   ng-model="p.msxsedyjxse"  ></td>
     <td width="10%">
       <select ng-select-query class="form-control" placeholder="" ng-model="p.sysl" ng-options="value as key for (key,value) in CT.syslCT"><option value=""></option></select>
       </td>
     <td width="10%" class="edit right"><input type="text" ng-datatype="number"  ng-model="p.mse"  ></td>
     <td align="center" >
  <div class="sbtnbox"> 
     <a class="layui-btn layui-btn-xs" ng-href="#"  ng-click="add()">增加</a>&nbsp;&nbsp;&nbsp;<a class="layui-btn layui-btn-danger layui-btn-xs" ng-if="$index!=0"   ng-href="#"  ng-click="del($index)">删除</a>
     </div>
     </td>
   </tr>
     <tr ng-render-finish=""></tr>
      </table>
  
</div>

</div>
 
</div>
</body>
</html>
